name: Build Deploy Docker

on:
  workflow_dispatch:
    inputs:
      imagename:
        description: 'Name of the Docker image'
        required: true

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Log in to Azure Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.ACR_REGISTRY }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    - name: Build the Docker image
      run: docker build -f ./bot/Dockerfile ./bot --tag ${{ secrets.ACR_REGISTRY }}/${{ github.event.inputs.imagename }}:${{ github.sha }}
    - name: Push the Docker image
      run: docker push ${{ secrets.ACR_REGISTRY }}/${{ github.event.inputs.imagename }}:${{ github.sha }}
